<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Card Index Page</title>
</head>
<body>
<form th:action="@{/save}" method="post" th:object="${users}">
    <div class="title">
        <h2>Create Account</h2>
    </div>
    <div class="info">
        <label>Full Name:</label>
        <input class="fname" type="text" name="fullName" placeholder="Full Name"> <br><br>
        <label>User Name:</label>
        <input class="username" type="text" name="userName" placeholder="UserName"><br><br>
        <label>Email:</label>
        <input class="email" type="email" name="email" placeholder="Email"><br><br>
        <label>Password:</label>
        <input class="password" type="password" name="password" placeholder="Password"><br><br>
        <label>Repeat Password:</label>
        <input class="password" type="Password" name="repeatPassword" placeholder="Password"><br><br>
    </div>
    <button >Submit</button>
</form>
</body>
</html>