<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<form th:action="@{/saveCard}" method="post" th:object="${cards}">
    <div class="title">
        <h2>Create New Card</h2>
    </div>
    <div class="info">
        <label>Card Number:</label>
        <input class="cardNo" type="number" name="cardNo" placeholder="Card Number"> <br><br>
        <label>PIN</label>
        <input class="PIN" type="password" name="PIN" placeholder="PIN"><br><br>
        <label>Type:</label>
        <input class="type" type="text" name="type" placeholder="Type"><br><br>
    </div>
    <button >Submit</button>
</form>
</body>
</html>